name: Deploy Flutter Web Site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches:
      - main
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    name: Build Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

#      - name: Setup Flutter
#        run: |
#          git clone https://github.com/flutter/flutter.git --depth 1 -b beta _flutter
#          echo "${GITHUB_WORKSPACE}/_flutter/bin" >> ${GITHUB_PATH}

      - name: Setup Flutter
        run: |
          git clone https://github.com/flutter/flutter.git --depth 1 -b beta ~/flutter
          echo "~/flutter/bin" >> ${GITHUB_PATH}

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-flutter-cache
          restore-keys: |
            ${{ runner.os }}-flutter-cache

      - name: Install Flutter Dependencies
        run: |
          cd example
          flutter config --enable-web
          flutter pub get

      - name: Build Flutter Web
        run: |
          cd example
          flutter build web --web-renderer html --release --source-maps --base-href /flutter_web_optimizer/
          flutter pub run flutter_web_optimizer optimize --asset-base https://tryimpossible.github.io/flutter-diy/flutter-web-optimizer-example-artifact/

#      - name: Replace Href Attribute
#        run: |
#          cd example/build/web
#          sed -i '/<base href=\"\/\">/c <base href="https://tryimpossible.github.io/flutter_web_optimizer/">' index.html

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: './example/build/web'

      - name: Deploy Flutter-Diy Repository
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./example/build/web
#          publish_branch: flutter-web-optimizer-example-artifact  # default: gh-pages
          publish_branch: gh-pages
          external_repository: TryImpossible/flutter-diy
          destination_dir: flutter-web-optimizer-example-artifact
          exclude_assets: '.github,index.html'

  deploy:
    name: Deployment job
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1